.clues {
  display: none;
}

.keyboard-key {
  width: 40px;
  height:  60px;
}

.keyboard-key-lg {
  width: 70px;
}

@media (max-width: 768px) {
  .keyboard-key {
    width: calc((100vw - 4rem) / 10);
    height:  calc((100vw - 4rem) * 3 / 20);
    max-width: 40px;
    max-height:  60px;
  }

  .keyboard-key-lg {
    width: calc((100vw - 4rem) / 7);
    max-width: 70px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .keyboard-key {
    width: calc((50vw - 5rem) / 10);
    height:  calc((50vw - 5rem) * 3 / 20);
    max-width: 40px;
    max-height:  60px;
  }

  .keyboard-key-lg {
    width: calc((50vw - 5rem) / 7);
    max-width: 70px;
  }
}

.short-tolerant {
  max-height: calc(16vh - 3.5rem);
  max-width: calc(16vh - 3.5rem);
}

$slash-green: rgb(115, 168, 134);
$slash-green-hover: rgb(94, 138, 110);
$slash-yellow: rgb(167, 159, 126);
$slash-yellow-hover: rgb(168, 147, 99);
$slash-slate: rgba(148, 163, 184, 50%);
$slate-400: rgba(148, 163, 184);

@mixin bg-slash($color) {
  background-image: linear-gradient(
    135deg, transparent 0%, transparent 12.5%,
            $color 12.5%, $color 25%,
            transparent 25%, transparent 37.5%,
            $color 37.5%, $color 50%,
            transparent 50%, transparent 62.5%,
            $color 62.5%, $color 75%,
            transparent 75%, transparent 87.5%,
            $color 87.5%, $color 100%,
  );
}

.bg-cross-slate {
  @include bg-slash($slash-slate);

  &:hover {
    @include bg-slash($slate-400);
  }
}

.bg-cross-yellow {
  @include bg-slash($slash-yellow);

  &:hover {
    @include bg-slash($slash-yellow-hover);
  }
}

.bg-cross-green {
  @include bg-slash($slash-green);

  &:hover {
    @include bg-slash($slash-green-hover);
  }
}

html.dark {
  background-color: rgb(15, 23, 42);
}

div {
  font-family: 'KURALI', 'Noto Sans', sans-serif;
  src: local('KURALI'), url(./fonts/KURALI.TTF) format('truetype');
}

@font-face {
  font-family: 'KURALI';
  src: local('KURALI'), url(./fonts/KURALI.TTF) format('truetype');
}
